#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  /* Estilo comum para os botões */
.trilha-card, .dia-card {
  background-color: #f4f4f4; 
  border: 2px solid #ddd; 
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: 500;
}

/* Efeito de hover para os botões */
.trilha-card:hover, .dia-card:hover {
  background-color: #ffab00; 
  color: white; 
  border-color: #ff8f00;
  transform: scale(1.05); 
}

/* Botões selecionados */
.trilha-card.selected, .dia-card.selected {
  background-color: #ff8f00;
  color: white; 
  border-color: #ff6f00; 
  transform: scale(1.05); 
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
  .trilhas-container, .dias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    text-align: center;
    justify-content: center;
  }

  .trilha-card, .dia-card {
    font-size: 14px;
    padding: 10px;
  }
}

  
